html, body {
	margin: 0;
	padding: 0;
}

.map {
	background-image: url(../img/solita_helsinki_map_grayscale.png);
	width: 1300px;
	height: 857px;
}

.toilet {
	position: absolute;
	height: 25px;
	width: 25px;
}

.toilet + .free {
	background-image: url(../img/toilet_free_25px.png);
}

.toilet + .occupied {
	background-image: url(../img/toilet_occupied_25px.png);
}

#toilet1 {
	left: 1000px;
	top: 275px;
}

#toilet2 {
	left: 1000px;
	top: 301px;
}

#toilet3 {
	left: 1000px;
	top: 325px;
}

#toilet4 {
	left: 1000px;
	top: 354px;
}

#toilet5 {
	left: 1120px;
	top: 356px;
}

#toilet6 {
	left: 1120px;
	top: 276px;
}

#toilet7 {
	left: 366px;
	top: 326px;
}

#toilet8 {
	left: 366px;
	top: 352px;
}

#toilet9 {
	left: 244px;
	top: 357px;
}