<aside id="sidebar">
  <a class="button" href="../vvk-ui/">
	  <small>Katso tästä esimerkki-</small>vapauskartta</a>

  <p><a href="{{ "index" | prepend: site.baseurl }}">Mikä on vapauskartta?</a></p>
  <p><a href="{{ "kayttokohteet" | prepend: site.baseurl }}">Vapauskarttojen käyttökohteita</a></p>
  <p><a href="{{ "kayttoonotto" | prepend: site.baseurl }}">Miten saan itselleni vapauskartan?</a></p>
  <p><a href="{{ "kokemuksia" | prepend: site.baseurl }}">Käyttäjäkokemuksia</a></p>
  <p><a href="{{ "avoindata" | prepend: site.baseurl }}">Avoin data</a></p>
  <p><a href="{{ "blog" | prepend: site.baseurl }}">VVK-blogi</a></p>

  <p class="repo-owner"><a href="https://github.com/KoneidenKapinaAdele/vvk">VVK:ta</a> pitää yllä <a href="https://github.com/KoneidenKapinaAdele">KoneidenKapinaAdele</a>.</p>

</aside>
