<aside id="sidebar">
  <a class="button" href="../vvk-ui/">
	  <small>Katso tästä todellinen</small> vapauskartta</a>

  <p><a href="index">Mikä on vapauskartta?</a></p>
  <p><a href="kayttoonotto">Miten saan itselleni vapauskartan?</a></p>
  <p><a href="kokemuksia">Käyttäjäkokemuksia</a></p>
  <p><a href="teknologia">Taustateknologia</a></p>
  <p><a href="avoindata">Avoin data</a></p>
  <p><a href="blog">VVK-blogi</a></p>

  <p class="repo-owner"><a href="https://github.com/KoneidenKapinaAdele/vvk">VVK</a> is maintained by <a href="https://github.com/KoneidenKapinaAdele">KoneidenKapinaAdele</a>.</p>

</aside>
